<!DOCTYPE html>
<html>
<head>
    <title>Editor Logs</title>
</head>
<body>
    <h1>Editor Logs</h1>
    <a href="/">Go Back</a>
    <table border="1">
        <tr>
            <th>Emp ID</th>
            <th>Emp Name</th>
            <th>Order ID</th>
            <th>Open DateTime</th>
            <th>Submit DateTime</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.emp_id }}</td>
            <td>{{ row.emp_name }}</td>
            <td>{{ row.order_id }}</td>
            <td>{{ row.open_datetime }}</td>
            <td>{{ row.submit_datetime }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Go Back</a>
</body>
</html>
